AUTH_SECRET= # `npx auth secret` or `openssl rand -hex 32`

# higlight-start
# You can find the Ory SDK URL under **API endpoints** in https://console.ory.sh/projects/current/settings
AUTH_ORY_SDK_URL= # https://{slug}.projects.oryapis.com
AUTH_ORY_CLIENT_ID= # The OAuth2 client ID
AUTH_ORY_CLIENT_SECRET= # The OAuth2 client secret
# highlight-end

# THIRD_PARTY_API_EXAMPLE_BACKEND= # Read more at https://authjs.dev/guides/integrating-third-party-backends

# AUTH_TRUST_HOST=1 # Read more at https://authjs.dev/getting-started/deployment#auth_trust_host