/* Set min-height to avoid page reflow while session loading */
.nav {
  display: block;
  min-height: 8rem;
  width: 100%;
}

.loading,
.loaded {
  position: relative;
  top: 0;
  opacity: 1;
  overflow: hidden;
  border-radius: 0 0 .6rem .6rem;
  padding: .6rem 1rem;
  margin: 0;
  background-color: #f6f6f6;
  transition: all 0.2s ease-in-out;
}

.loading {
  top: -2rem;
  opacity: 0;
}

.signedInText,
.notSignedInText {
  position: absolute;
  padding-top: .8rem;
  left: 1rem;
  right: 7.4rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inherit;  
  z-index: 1;
  line-height: 1.3rem;
}

.signedInText {
  padding-top: 0rem;
  left: 4.6rem;
}

.avatar {
  border-radius: 2rem;
  float: left;
  height: 2.8rem;
  width: 2.8rem;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
}

.button,
.buttonPrimary {
  float: right;
  margin-right: -.4rem;
  font-weight: 500;
  border-radius: .3rem;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1rem;
  padding: .7rem 1.4rem;
  position: relative;
  z-index: 10;
  box-shadow: 0 0.15rem 0.3rem rgba(0,0,0,.05), inset 0 .1rem .2rem rgba(255,255,255,.25), inset 0 -.1rem .1rem rgba(0,0,0,0.05);
  background-color: #fff;
  border: 1px solid #ccc;
  color: #555;
}

.button:hover {
  background-color: #fff;
  border-color: #aaa;
  color: #555;
}

.buttonPrimary {
  background-color: #555;
  border-color: #555;
  color: #eee;
  box-shadow: 0 0.15rem 0.3rem rgba(0,0,0,.15);
}

.buttonPrimary:hover {
  background-color: #444;
  border-color: #444;
}

.navItems {
  padding: 0 .5rem;
  list-style: none;
}

.navItem {
  display: inline-block;
  margin-right: 1rem;
}